<!DOCTYPE html>
<html ng-app="powderApp">
  <head>
    <meta charset="utf-8">
    <title>White Powder Finder</title>
    <script src="vendors/angular/angular.min.js"></script>
    <script src="vendors/angular-route/angular-route.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
      <base href="/users" />
  </head>
  <body class="container" ng-controller="UsersController">
    <h2>  Welcome (user)! Which white powder do you need help identifying today?
       </h2> </br>
    <h1> Co-op selector: </h1>

</form>
</body>
<html>
